.list-group-item-info {
        background-color: white;
        color :white;
        font-weight : 300;
        border : 0px;

    }

    .list-group .active {
        background-color: rgba(19, 34, 47, 0.63);;
    }
    .list-group .pull-left {
        min-height: 250px;


    }
    .navbar a {
        color: #ec971f;
;
    }

    .fa {
        color : #ec971f;
        padding-right: 5px;
    }
    .list-group-item {
    border: 1px solid rgba(105, 105, 107, 0.17);
}
    body{
           background-color: rgba(2, 2, 0, 0.08);
        color: #080808;
        font-weight: 300;
    }
