.list-group-item-info {
    color: white;
    font-weight: 300;
    border: 0px;

}

.list-group .active {
    background-color: rgba(19, 34, 47, 0.63);;
}

.list-group .pull-left {
    min-height: 250px;

}

.navbar a {
    color: #ec971f;;
}

.fa {
    color: #ec971f;
    padding-right: 5px;
}

.list-group-item {
    border: 1px solid rgba(105, 105, 107, 0.17);
}



.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 1px solid #011E38;
    padding: 7px;
    border-radius: 5px;
    outline: none;
    color: #585656;
    font-weight: 400;
    font-size-adjust: 3em;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 36px;
    border: 1px solid #011E38;;
    background: #011E38;;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    background-color: #9e9d24;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#eca302rrr, #eca302);
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #EC971F;
}