

<div class="container">
    <Div>
        <div class="wrap card" ng-controller="allcargoCrt" ng-if="!cargosearch.length">
   <div class="search">
       <input type="text" class="searchTerm" placeholder="What are you looking for?" ng-model="searchTerm">
       <button type="submit" class="searchButton" ng-click="search()">
        <i class="fa fa-search"></i>
     </button>

   </div>
            [[error]]
</div>
        <div ng-if="cargosearch.length">
            <label for=""> Search for : [[searchTerm]]</label>

        </div>
        <div ng-if="cargosearch.length" ng-repeat="obj in cargosearch" class="col-lg-12 ">
            <div >
                <ul class="list-group col-lg-3 pull-right fixed" ng-hide="true">
                    <li class="list-group-item active"><h3> Recipient Details</h3></li>
                    <li class="list-group-item ">recipient: <a href="[[obj.url]]">[[obj.first_name]]
                        [[obj.last_name]] </a></li>
                    <li class="list-group-item" ng-if="obj.organisation">organisation : [[obj.organisation]]</li>
                    <li class="list-group-item">Tel : [[obj.tel]]</li>
                    <li class="list-group-item">Email : [[obj.email ]]</li>
                </ul>
            </div>
            <ol class="list-group">
                <li class="list-group-item">
                    <small>[[index]] |</small>
                    <a href="#/cargo/[[obj.id]]" class=" pull-right"> edits</a>
                </li>
                <div class="list-group-item col-sm-4 pull-left">

                    <div class="list-group-item ">
                        <label class="col-lg-4"> Recipient </label>: [[obj.first_name]] [[obj.last_name]]
                    </div>
                    <div class="list-group-item ">
                        <label class="col-lg-4 ">Telephone </label> : [[obj.tel]]</div>
                    <div class="list-group-item ">
                        <label class="col-lg-4 ">Source </label> : [[obj.source]]</div>
                    <div class="list-group-item ">
                        <label class="col-lg-4 ">Destination </label>: [[obj.Destination]]</div>
                    <div class="list-group-item ">
                        <label class="col-lg-4 ">Time </label> : [[obj.modified_at]]</div>
                </div>

                <div class="list-group-item  col-lg-4 pull-left">
                    description: [[obj.description]]
                </div>

                <div ng-repeat=" status in obj.state" class="list-group-item col-lg-4 pull-left">
                    <ul class="list-group">
                        <li class="list-group-item "><label class="col-lg-5 ">State </label>: [[status.state]]</li>
                        <li class="list-group-item"> <label class="col-lg-5 ">Last station  </label>: [[status.Last_location]]</li>
                        <li class="list-group-item "><label class="col-lg-5 "> Next station  </label>: [[status.next_station]]</li>
                        <li class="list-group-item "> <label class="col-lg-5 ">Modified at  </label>: [[status.modified_at]]</li>
                        </li>
                    </ul>
                </div>
            </ol>
        </div>
    </Div>
</div>