<div class="" >

    <ol class="list-group active pull-left ">
        <li class="list-group-item ">

            <a href="" class="panel panel-primary"><h3 class=" text-center">add + </h3></a>
            a
        </li>
        <div class="list-group-item col-sm-12 col-lg-12 ">
            <div class="  pull-right">

                <a href="#/editcustomer/[[customers.id]]/" class="btn btn-success float-right">save</a>
            </div>
            <div class="list-group-item  col-sm-8 float-left">
                name : <input type="text" name="" id="" ng-model="customers.first_name"></div>
            <div class="list-group-item  col-sm-8 float-left">
                last name : <input type="text" ng-model="customers.last_name ">
            </div>
            <div class="list-group-item col-sm-8 float-left">Tel :<input type="text" name="" id=""
                                                                         ng-model="customers.tel"></div>
        </div>


    </ol>
</div>
